# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [1]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [2]:
df = pd.concat([pd.read_csv(f'Data/Students_info_{i}.csv')
               .join(pd.read_csv(f'Data/Students_marks_{i}.csv').set_index('index'),
                     on='index')
                for i in range(10)])
pd.concat([df.head(), df.tail()])

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
95,995,female,group E,master's degree,standard,completed,group10,88,99,95
96,996,male,group C,high school,free/reduced,none,group10,62,55,55
97,997,female,group C,high school,free/reduced,completed,group10,59,71,65
98,998,female,group D,some college,standard,completed,group10,68,78,77
99,999,female,group D,some college,free/reduced,none,group10,77,86,86

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [3]:
# Эта и последующие задачи написаны для случая, когда требуемые преобразования являются перманентными
# Чтобы преобразования не изменяли содержимое исходного датафрейма достаточно убрать аргумент inplace=True
# и выводить возвращаемое значение
df.drop("index", axis=1, inplace=True)
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [4]:
print(f'Rows: {df.shape[0]}, Columns: {df.shape[1]}')

Rows: 1000, Columns: 9

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [5]:
df.describe().loc[['min', 'max', 'mean', 'std']]

      math score  reading score  writing score
min      0.00000      17.000000      10.000000
max    100.00000     100.000000     100.000000
mean    66.08900      69.169000      68.054000
std     15.16308      14.600192      15.195657

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [6]:
(df.isna() | (df == '')).any(axis=None)

False

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [7]:
df.describe().loc['mean'].to_frame()

                 mean
math score     66.089
reading score  69.169
writing score  68.054

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [8]:
df.groupby('test preparation course')[['math score', 'reading score', 'writing score']].mean()

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [9]:
for i in df['lunch'].unique():
    print(i)

standard
free/reduced

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [10]:
df.rename(columns={'parental level of education': 'education',
                   'test preparation course': 'test preparation'},
          inplace=True)
df.head(10)

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

**Зафиксируем минимальный балл для сдачи экзамена**

In [11]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [12]:
(df['math score'] >= passmark).sum() / df.shape[0]

0.865

In [13]:
((df['math score'] >= passmark)
 & (df['test preparation'] == 'completed')).sum() / (df['test preparation'] == 'completed').sum()

0.9217877094972067

In [14]:
((df['math score'] < passmark)
 & (df['test preparation'] == 'none')
 & (df['gender'] == 'female')).sum() / ((df['test preparation'] == 'none')
                                        & (df['gender'] == 'female')).sum()

0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [15]:
%%time
df.groupby('race/ethnicity')['reading score'].mean().to_frame(name='mean reading score')

CPU times: user 958 µs, sys: 522 µs, total: 1.48 ms
Wall time: 1.08 ms

                mean reading score
race/ethnicity
group A                  64.674157
group B                  67.352632
group C                  69.103448
group D                  70.030534
group E                  73.028571

In [16]:
%%time
df.groupby('education')['writing score'].min().to_frame(name='min writing score')

CPU times: user 886 µs, sys: 505 µs, total: 1.39 ms
Wall time: 1.62 ms

                    min writing score
education
associate's degree                 35
bachelor's degree                  38
high school                        15
master's degree                    46
some college                       19
some high school                   10

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [17]:
%%time
mp = dict()
for i in range(df.shape[0]):
    race = df.iloc[i]['race/ethnicity']
    score = df.iloc[i]['reading score']
    if race not in mp:
        mp[race] = (0, 0)
    mp[race] = (mp[race][0] + score,
                mp[race][1] + 1)
for race in sorted(mp):
    print(race, mp[race][0] / mp[race][1])

group A 64.67415730337079
group B 67.35263157894737
group C 69.10344827586206
group D 70.03053435114504
group E 73.02857142857142
CPU times: user 72.6 ms, sys: 2.13 ms, total: 74.7 ms
Wall time: 74.4 ms

In [18]:
%%time
mp = dict()
for i in range(df.shape[0]):
    education = df.iloc[i]['education']
    score = df.iloc[i]['writing score']
    if education not in mp:
        mp[education] = 100
    mp[education] = min(mp[education], score)
for education in sorted(mp):
    print(education, mp[education])

associate's degree 35
bachelor's degree 38
high school 15
master's degree 46
some college 19
some high school 10
CPU times: user 68.1 ms, sys: 1.66 ms, total: 69.8 ms
Wall time: 69.1 ms

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [19]:
df.pivot_table(index=['education', 'gender'])
# Как мне показалось, сравнение результатов мужчин и женщин с одним уровнем образования представляет больший интерес,
# чем сравнение различных уровней образования для каждого пола
# Для изменения порядка группировки нужно только изменить порядок столбцов в аргументе index

                           math score  reading score  writing score
education          gender
associate's degree female   65.250000      74.120690      74.000000
                   male     70.764151      67.433962      65.405660
bachelor's degree  female   68.349206      77.285714      78.380952
                   male     70.581818      68.090909      67.654545
high school        female   59.351064      68.202128      66.691489
                   male     64.705882      61.480392      58.539216
master's degree    female   66.500000      76.805556      77.638889
                   male     74.826087      73.130435      72.608696
some college       female   65.406780      73.550847      74.050847
                   male     69.009259      64.990741      63.148148
some high school   female   59.296703      69.109890      68.285714
                   male     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [20]:
df['Math_PassStatus'] = (df['math score'] >= passmark).map({True: 'P', False: 'F'})
df.groupby(['Math_PassStatus']).size().to_frame(name='Count')

                 Count
Math_PassStatus
F                  135
P                  865

In [21]:
df['Reading_PassStatus'] = (df['reading score'] >= passmark).map({True: 'P', False: 'F'})
df.groupby(['Reading_PassStatus']).size().to_frame(name='Count')

                    Count
Reading_PassStatus
F                      90
P                     910

In [22]:
df['Writing_PassStatus'] = (df['writing score'] >= passmark).map({True: 'P', False: 'F'})
df.groupby(['Writing_PassStatus']).size().to_frame(name='Count')

                    Count
Writing_PassStatus
F                     114
P                     886

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [23]:
df['OverAll_PassStatus'] = ((df['Math_PassStatus'] == 'P')
                            & (df['Reading_PassStatus'] == 'P')
                            & (df['Writing_PassStatus'] == 'P')).map({True: 'P', False: 'F'})
(df['OverAll_PassStatus'] == 'P').sum()

812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [24]:
def GetGrade(average_mark):
    if average_mark >= 90:
        return 'A'
    elif average_mark >= 80:
        return 'B'
    elif average_mark >= 70:
        return 'C'
    elif average_mark >= 60:
        return 'D'
    elif average_mark >= 50:
        return 'E'
    else:
        return 'F'

df['Grade'] = ((df['math score'] + df['reading score'] + df['writing score']) / 3).apply(GetGrade)
df.groupby('Grade').size().to_frame(name='Count')

       Count
Grade
A         52
B        146
C        261
D        256
E        182
F        103